{% include 'public/head.html' %}

<!-- start banner Area -->
<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Especialidades</h1>
        <p class="text-white link-nav">
          <a href="/templates/public/index.html">Inicio </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="about.html"> Especialidades</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<section class="destinations-area section-gap">
  <!-- para que se baje -->
  <div class="container">
    <!-- para que se baje -->
    <body>
      <div>
        <a href="/formulario" class="btn btn-primary btn-sm">
          <i class="fa-solid fa-circle-plus"></i> Nueva Especialidad </a
        ><br />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>Acciones</th>
            <!-- Add more columns as needed -->
          </tr>
        </thead>
        <tbody>
          {% for row in datae %}
          <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>

            <!-- Add more cells as needed -->
            <td>
              {# Pasar el id (lo que hay en juego[0] #}
              <a
                href="{{url_for('editar_paciente', id=row[0])}}"
                class="button is-info"
                >Editar</a
              >
            </td>
            <td>
              <form action="{{url_for('eliminar')}}" method="POST">
                <input type="hidden" name="id" value="{{row[0]}}" />
                <button class="button is-danger">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
  </div>
</section>

{% include 'public/foot.html' %}
